h1#title
{
   font-family:Arial,sans-serif;
   font-size:2em;
   font-weight:normal;
   color:green;
   text-align:center;
}

h2#title
{
   font-family:Arial,sans-serif;
   font-size:1em;
   font-weight:normal;
   color:green;
   text-align:left;
}

#headline
{
    float:center;
}

#auswahl
{
    text-align:center;
}

#text
{
    text-align:left;
}

#navi_0, a:link, a:visited, a:hover
{
color:#800000;
text-decoration:none;
}

#index_left li {
    list-style-type: none;
    padding-left: 0;
}

td, th {
    border: 1px solid black;
}

/*------------------------------------------------------------------------------*/
/* Seitenaufteilung                                                             */
/*------------------------------------------------------------------------------*/
#index_left
{
    width: 16%;
    float: left;
    min-width: 12em;
    margin-right: 1em;
}

#index_middle
{
    float: left;
}